# Google Service Account (copiar do JSON)
GOOGLE_SERVICE_ACCOUNT_EMAIL=miia-email-frontend@miia-auto-emails.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"

# Spreadsheet ID
SPREADSHEET_ID=1njKJ8Bm0JMJlh0kvycfYU6xqg1CWu4nSqAldEp2-fak
